.our-team {
    &__inner {
        padding: 120px 0 0;
    }

    &__items-box {
        display: flex;
        justify-content: space-between;
    }
}
.team-description {
    max-width: 310px;
    &__title {
        @extend %dmsans-700;
        font-size: 36px;
        margin-bottom: 30px;
    }

    &__text {
        @extend %rubik-400;
        font-style: 16px;
        line-height: 30px;
        margin-bottom: 32px;
    }

    &__link {
        @extend %poppins-700;
        font-size: 15px;
        color: #fff;
        width: 170px;
        height: 50px;
        display: flex;
        align-items: center;
        background-color: $btn;
        & span {
            padding-left: 17px;
        }
        & svg {
            margin-left: 17px;
        }
    }
}
.team-humans {
    display: flex;
    flex-wrap: wrap;
    width: 770px;
    &__human-box:nth-child(2n) {
        margin-left: 30px;
    }

    &__img {
        max-width: 370px;
        height: 322px;
    }

    &__items-box {
        display: flex;
        align-items: center;
        width: 325px;
        height: 112px;
        background-color: #fff;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        position: relative;
        margin: -61px 0 40px;
    }

    &__items-link {
        margin: 0 57px 0 25px;
    }

    &__name {
        @extend %dmsans-700;
        font-size: 22px;
        color: $accent;
        margin-bottom: 20px;
    }

    &__text {
        @extend %rubik-400;
        font-size: 16px;
        color: #565872;
    }

    &__social-link {
        width: 41px;
        height: 41px;
        background-color: #f6f6f6;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        &:hover {
            background-color: $btn;
            path {
                transition: 0.5s;
                fill: #fff;
            }
        }
    }
    &__social-link + &__social-link {
        margin-left: 7px;
    }
}
