%roboto-400 {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}
%rubik-300 {
  font-family: "Rubik-Lihgt";
  font-weight: 300;
}
%rubik-400 {
  font-family: "Rubik-Regular";
  font-weight: 400;
}
%rubik-500 {
  font-family: "Rubik-Medium";
  font-weight: 500;
}
%rubik-600 {
  font-family: "Rubik-Bold";
  font-weight: 600;
}
%poppins-600 {
  font-family: "Poppins-SemiBold";
  font-weight: 600;
}
%poppins-700 {
  font-family: "Poppins-Bold";
  font-weight: 700;
}
%dmsans-400 {
  font-family: "DMSans-Regular";
  font-weight: 400;
}
%dmsans-500 {
  font-family: "DMSans-Medium";
  font-weight: 500;
}
%dmsans-700 {
  font-family: "DMSans-Bold";
  font-weight: 700;
}


